#error{
    position: absolute;
    top: 0;
    left: 50%;
}
.error-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.error-message{
    padding: 20px 40px;
    text-align: center;
    background-color: var(--color-error-light);
    color: white;
    border-left: 7px solid var(--color-error-dark);
}